/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
.site-nav > ul > li {
width: 25%;
float: left;
}

.stripe-decor {
display: none;
}

.shame-div {
display: none;
}

.sub-nav > li {
width: 32%;
float: left;
}

.shame-div {
	display: none;
}