.program-page-instructors {
	background-color: $site-grey;
	text-align: center;
	position: relative;
}

.program-page-instructors-title {
	padding: 30px 0;
	text-transform: uppercase;
	color: $darker-green;
}

.program-page-instructor-item {
	margin: 40px;
	padding: 30px;
	h5 {
		
	}
}


.program-page-instructors-triangle {
	@include program-triangle(30px, transparent, $site-grey);
	
}