.program-page-container {
	overflow: hidden;
}

.program-page-cta {
	width: 100%;
	background-color: $site-grey;
	position: relative;
	text-align: center;
	overflow-right: hidden;
}


.program-cta-form {
	margin-top: 1em;
	display: inline-block;
	width: 100%;
	max-width: 30rem;
}

.program-cta-form label {
	line-height: 1;
	float: left;
}

.program-cta-form input {
	width: 100%;
	margin-bottom: 1em;
	float: left;
}

.program-cta-form button {
	float: left;
}




.program-page-cta-triangle {
	@include program-triangle(30px, transparent, $site-grey);
}

.program-page-cta-div {
	padding: 15px 30px;	
	@include breakpoint(mama-bear){
	padding: 30px;
	text-align: center;
}
}