.program-page-degrees {
	text-align: center;
}

.program-page-degree-title {
	width: 100%;
	text-align: center;
	color: white;
	background: $brand-purple;
	text-transform: uppercase;
	padding: 30px 0;
	background-image: url("../images/grey-stripes.png");
}

.program-page-degrees-content {
	padding: 30px 0;
}