.program-page-degrees {
	/* background images are added through CMS */
	text-align: center;
	padding: 50px 20px; /* same as the selling section */
	background: 50% 50% no-repeat fixed;
	background-size: cover;
	color: white;
	@include breakpoint(mama-bear){
		min-height: 600px; /* so the bg image doesn't look silly when there's only one line of content */
	}	
}

.program-page-degree-title {
	text-transform: uppercase;
}

.program-page-degrees-content {
	padding: 30px 0;
}

.program-page-degrees-item-container {
	text-align: center;
}

.program-page-degrees-item {
	margin: 0 auto;
	max-width: 400px;
	padding: 20px;
}

.program-page-degrees-content a {
	@include link-colors($brand-green, $darker-green);
}