.program-page-selling-points {
	@include breakpoint(mama-bear){
	padding: 50px 20px;
}
	
}


.program-page-selling-points-image {
	height: 80px; /* dev. will resize actual images for production site */
	padding-bottom: 10px;
}

.program-page-selling-point-wrapper {
	background-color: $darker-green;
	text-align: center;
	padding: 30px;
	margin: 30px;
	color: white;
	@include breakpoint(mama-bear){
		height: 300px;
	}
	a {
		@include link-colors($brand-purple, white);
	}
}

.program-page-selling-points-heading {
	line-height: 1.4;
}

.program-page-selling-point-text {
	text-align: center;
	p {
		max-width: 40rem;
		margin: 0 auto;
	}
}