.program-page-selling-points {
	padding: 50px 20px;
	
}


.program-page-selling-points-image {
	height: 80px; /* dev. will resize actual images for production site */
	padding-bottom: 10px;
}

.program-page-selling-point-wrapper {
	background-color: $darker-green;
	text-align: center;
	
	@include breakpoint(mama-bear){
		padding: 30px;
		margin: 0 30px;
		height: 300px;
	}
	
	
}