.program-page-instructors {
	
	text-align: center;
	position: relative;
	
}




.program-page-instructors-title {
	padding: 10px 0 40px 0;
	text-transform: uppercase;
	color: white;
	background: $darker-green;
}

.program-page-instructor-item {
	margin: 30px;
	padding: 30px;
	
}

.program-page-instructors-triangle {
	@include program-triangle(30px, transparent, $darker-green);
	
}



