.program-page-instructors {
	background-color: $site-grey;
	text-align: center;
}

.program-page-instructors-title {
	padding: 30px 0;
	text-transform: uppercase;
	color: $darker-green;
}

.program-page-instructor-item {
	margin: 40px;
	padding: 30px;
	h5 {
		
	}
}