.program-page-hero-container {
	/* all background images are loaded through the CMS */
	padding: 15px;
	height: 275px; /* allow space for all the text */
	background-repeat: no-repeat;
	background-position: 50% 0; /* centers it even if the image is cropped */
	@include breakpoint(baby-bear) {
		height: 400px;	
	}
	@include breakpoint(mama-bear){
		height: 600px; /* this is the height set by skrollr.js. It's here as a fallback */
	}
	@include breakpoint(papa-bear){
		background-size: cover !important; /* stretches to fit, since we don't want a super-huge image in there.  */
	}
}



.program-page-hero-frame {
	margin: 0 auto;
	text-align: center;
	@include breakpoint(mama-bear){
		padding-top: 100px;
	}
}

.program-page-hero-title {
	color: white;
	line-height: 2;
	@include breakpoint(mama-bear){
		@include adjust-font-size-to($superbig);
		line-height: 13rem; /* override adjust font size */
	}
}

.program-page-hero-text {
	color: white;
	@include breakpoint(mama-bear){
		@include adjust-font-size-to($xl);
		line-height: 1.2;
	}
}


