.home-hero {
	line-height: 0; /* fixes the space at the bottom */
	position: relative; /* for the stripe decor */
 }

 .home-hero-img {
	 width: 100%; /* images are actually just slightly too small for some of the views; this stretches them to make them fit */
 }

 .home-hero-wrapper{
	 position: relative; /* for the absolute positioned cover */
	 float: left;
	 height: 454px; // hack until I resize images
	overflow: hidden;	 
	 @include breakpoint (mama-bear) {
	 	width: (2*$mama-bear - 2 * $search-width - $gutter) / 3; // it takes some algebra to get here, but this is the width of the two buttons beneath it plus their gutter
		margin-right: $gutter;
	}
	
 @include breakpoint (papa-bear) {
 	width: (2*$papa-bear - 2 * $search-width - $gutter) / 3; 
}
 }
 
.home-sub-hero-wrapper{
	 position: relative;
	 float: left;
	 width: 50%;
	 
	 /* all this gutter/2 stuff is just a way to keep the titles from looking like a unibrow across the gutter */
	 &:last-child {
		padding-left: $gutter/2;
		.home-hero-cover {
			left: $gutter/2;
		}
	}
	&:first-child {
		padding-right: $gutter/2;
		.home-hero-cover {
			right: $gutter/2;
		}
	}
	 @include breakpoint(mama-bear){
		 /* height of main hero image is 331px at this size. These each are that - 15px (for the gutter) divided by two
		 * It's just a small crop, so not a big deal, and not worth the overhead of doing picturefill */
		 height: 158px;
		 overflow: hidden;
		 width: auto;
		 padding: 0 !important; /* hack, fix this */
		 width: ($mama-bear - $search-width - (2 * $gutter)) / 3; /* width of grid minus gutters divided by three */		 
 	}
	@include breakpoint(papa-bear){
		height: auto;
		width: ($papa-bear - $search-width - (2 * $gutter)) / 3; /* width of grid minus gutters divided by three */
	}
	

}


.home-hero-cover p {
 padding: 30px;
 position: absolute;
 left: -50px;
 bottom: 90px;
 opacity: 0;
 color: white; /* for a little more contrast */
 line-height: 1.25;
 @include adjust-font-size-to($mediumlarge);
}

.home-hero-cover:hover p {
 left: 0;
 opacity: 1;
 @include transition-delay(.1s);
  @include transition-duration(.4s);
}


 .home-hero-cover {
	@extend .cover;
	 bottom: -1px; /* sort of hacky, but covers the weird pixel at the bottom. And if it goes over in some browsers, it's just white on white background and thus invisible */
	 overflow: hidden;
	 &:hover {
		  cursor: pointer;
		 background-color: rgba(shade($brand-grey, 50%), .7);
		 @include fade;

	 }

 }
 
 

 
 
 .home-sub-hero-wrapper .home-hero-cover {
	 @include breakpoint(mama-bear){
		 right: 0 !important; /* undo hack from above */
	 	left: 0 !important;
	}
 }
 



 
 .home-hero-header {
	  @include adjust-font-size-to($xxl);
	  line-height: 1;
	  padding: 10px;
	  position: absolute;
	  bottom: 4*$gutter;
	  color: white;
	  @include breakpoint(mama-bear){
		  left: 40px;
  	}
 }
 
 
 
 
 
 .home-sub-hero-header {
	 background-color: rgba($brand-purple, .7);
	 display: inline;
	 color: white;
	 margin: 0;
	 position: absolute;	
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 text-align: center;
	 @include adjust-font-size-to($medium);
	 @include breakpoint(mama-bear){
		  right: 0;
		  padding: 10px;
 	}
 }
 

 
 .home-sub-hero-wrapper:last-child {
	 @include breakpoint(mama-bear){
	 margin-top: $gutter;
 }
 }
 


 .home-sub-hero {
	 margin-top: $gutter;
 	@include breakpoint(baby-bear){
 		float: left;
 		display: inline;
 		padding-right: 0; /* override the column padding */
		width: 100%; /* fix a safari bug */
 	}
	@include breakpoint(mama-bear){
		margin-top: 0;
		@include breakpoint(mama-bear) {
			width: ($mama-bear - $search-width - (2 * $gutter)) / 3; /* width of grid minus gutters divided by three */
		}
		@include breakpoint(papa-bear) {
			width: ($papa-bear - $search-width - (2 * $gutter)) / 3; /* width of grid minus gutters divided by three */
		}
	}
 }

.home-sub-hero-wrapper img {
	float: left;
	@include breakpoint(baby-bear){
		width: 100%; /* safari bug */
	}
	@include breakpoint(mama-bear){
		width: auto;
		
		
	}
	
	@include breakpoint(papa-bear) {
		height: (454px - $gutter)/2; // obviously a super hack. Will fix once image sizes are ginalized.
		
	}
}



.stripe-decor {
	@include breakpoint(mama-bear){
		background-image: url("../images/green-stripes.png");
		position: absolute;
		width: $search-width;
		top: 0;
		bottom: 0;
		left: 100%;
	}
}