.home-events {
	width: 100%;
	padding: $gutter;
	@include breakpoint(mama-bear){
		padding: 0;		
	}
}

.home-events-row {
	position: relative; /* popups are relative to this */
	padding: 15px 0;
	float: left;
	width: 100%;
	&:hover{
		cursor: pointer;
	}
}

/* activated with js */
.home-events-row-active .home-events-title {
	color: $darker-green;
}

.home-events-date-wrapper {
	
	float: left;
	position: relative;
	width: 50px;
	height: 50px;
	@include breakpoint(papa-bear){
		
	}
}

.home-events-date-bg {
	border: solid 1px $brand-purple;
}

.home-events-title {
	width: 80%;
	float: left;
	font-family: $heading-font;
	padding-left: $gutter;
	color: $brand-purple;
	@include adjust-font-size-to($medium);
	i:before {
		margin: 0;
		padding-left: 4px;
		vertical-align: bottom;
	}
}

.home-events-month {
	width: 100%;
	display: block;
	
	text-align: center;
	color: $brand-purple;
	font-family: $heading-font;
	@include adjust-font-size-to($small);
	line-height: 1;
	padding-top: 3px;
}

.home-events-date {
	width: 100%;
	display: block;
	text-align: center;
	line-height: 1;
	color: $brand-purple;
	font-family: $heading-font;
	@include adjust-font-size-to($large);
	line-height: 1;
	padding: 3px 0;
}

.home-events-popup {
	background-color: white;
	display: none; /* will show with js */
	padding: 10px;
	width: 100%;
	border: solid 3px $darker-green;
	border-top: solid 6px $darker-green;
	position: absolute;
	top: 100%;
	z-index: 1000;
	color: $text-color; /* override the color from home-events-row-active */
}

.home-events-expand {
	color: $brand-purple;
	font-weight: bold;
	margin-left: 20px;
	padding: 5px;
	float: right;
}

.event-calendar-link i {
	&:before{
		margin: 0;
		padding-left: 0;
		font-size: 2em;
		vertical-align: bottom;
	}
}
