.home-second-row {
	margin-top: $gutter;
}

.portal {
	background-color: $site-grey;
	float: left;
/*	margin-top: $gutter; */
	padding: 10px;
	width: 100%;
	@include breakpoint(baby-bear) {
		padding: 0;
		padding-bottom: 20px; /* give this space to get below the events section */
	}
	@include breakpoint(mama-bear){
		min-height: 410px;
	}
	
	@include breakpoint(papa-bear){
		min-height: 465px; /* sort of hacky. trying to keep it more or less level with the events section on the left. */
	}
}

.portal-section {
	@include breakpoint(baby-bear) {
		padding: 10px;
		width: 50%;
		float: left;
	}
	@include breakpoint(mama-bear) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.portal-header {
	color: $brand-purple;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
}

.portal-links {
	@extend .unstyled;
}


.portal-links li {
	border-bottom: solid 1px white;
	line-height: 2;
}

.portal form {
	margin-top: $gutter;
	label {
		line-height: 1;
		padding-left: 2px; /* make it look more aligned */
	}
	input {
		width: 70%;	
	}
	.form-submit {
		@extend .btn; /* add the button styles to the drupal form button */
		margin: 0; /* override button margins */
		width: auto; /*override the width from the input */
	}
	
	.form-item,
	.form-actions {
		margin: 0; /*override Drupal defaults */
	}
	
}



