.home-fourth-row {
	@include breakpoint(mama-bear){
		margin-top: 2*$gutter;
	}
}

.home-callout-row {
	padding: 0 $gutter;
	@include breakpoint(baby-bear){
		padding: 0;
	}
}

.home-callout-row-1 {
	@extend .home-callout-row;
}

.home-callout-row-2 {
	@extend .home-callout-row;
	margin: $gutter 0 2*$gutter 0;
}



.home-callout-row-item {
	@include breakpoint(baby-bear) {
		width: ($baby-bear - (2 * $gutter)) / 3;
		float: left;
		margin-right: $gutter;
		padding-right: 0;
		&:last-child{
			margin-right: 0;
		}
	}
	
}




.home-callout-row-item-large {
	@extend .home-callout-row-item;
	@include breakpoint(mama-bear) {
		width: ((($mama-bear - $search-width) * ($col16 / 100%)) - 3*$gutter) / 2 + $gutter; /* Okay, so this is the width of the overall grid times the width of this section (col16) */
	}
	@include breakpoint(papa-bear) {
		width: ((($papa-bear - $search-width) * ($col16 / 100%)) - 3*$gutter) / 2 + $gutter; /* Okay, so this is the width of the overall grid times the width of this section (col16) */
	}
}




.home-callout-row-item-small{
	@extend .home-callout-row-item;
	@include breakpoint(mama-bear) {
		width: ((($mama-bear - $search-width) * ($col16 / 100%)) - 3*$gutter) / 4; /* Okay, so this is the width of the overall grid times the width of this section (col16) */
	}
	@include breakpoint(papa-bear) {
		width: ((($papa-bear - $search-width) * ($col16 / 100%)) - 3*$gutter) / 4; /* Okay, so this is the width of the overall grid times the width of this section (col16) */
	}
}




@mixin home-callout($color) {
	@include link-colors(white, white);
	cursor: pointer;
	display: block;
	background: $color;
	font-family: $heading-font;
	@include adjust-font-size-to($mediumlarge);
	text-transform: uppercase;
	padding: $gutter/2 2*$gutter;
	margin-bottom: $gutter;
	
	&:hover {
		@include fade;
		background: shade($color, 30%);
		
	}
	@include breakpoint(mama-bear){
		margin: 0;
		@include adjust-font-size-to($medium);
	}
	@include breakpoint(papa-bear){
		@include adjust-font-size-to($mediumlarge);
	}
}


.home-callout-1 {
	@include home-callout($brand-alt-green);
}

.home-callout-2 {
	@include home-callout(tint(black, 30%));
	
}

.home-callout-3 {
	@include home-callout($brand-purple);
	margin: 0; // this one will have a double margin on smaller views
}

.home-callout-4 {
	@include home-callout($brand-alt-purple);
}

.home-callout-5 {
	@include home-callout($darker-green);
}

.home-callout-6 {
	@include home-callout($brand-grey);
}



.home-community-resources {
	padding: 0 $gutter;
	@include breakpoint(baby-bear){
		padding: 0;
	}
}

.community-header {
	margin: 4px 0;
}

.community-row {
	margin-bottom: $gutter;
	p {
		margin: 0;
	}
}


.resources-item {
	width: 50%;
	float: left;
	&:nth-child(1){
		padding: 0 $gutter/2 $gutter/2 0;
		@include breakpoint(baby-bear) {
			padding: 0;
		}
	}
	&:nth-child(2){
		padding: 0 0 $gutter/2 $gutter/2;
		@include breakpoint(baby-bear) {
			padding: 0;
		}
	}
	&:nth-child(3){
		padding: $gutter/2 $gutter/2 0 0;
		@include breakpoint(baby-bear) {
			padding: 0;
		}
	}
	&:nth-child(4){
		padding: $gutter/2 0 0 $gutter/2;
		@include breakpoint(baby-bear) {
			padding: 0;
		}
	}
	
	@include breakpoint(baby-bear){
		width: (768px - 3*$gutter)/4;
		margin-right: $gutter;
		&:last-child{
			margin-right: 0;
		}
		
	}
	
	
	@include breakpoint(mama-bear){
		width: ((($mama-bear - $search-width) * ($col16 / 100%)) - 3 * $gutter)/4;
	}
	
	@include breakpoint(papa-bear){
		width: ((($papa-bear - $search-width) * ($col16 / 100%)) - (3 * $gutter))/4;
	}
}


.home-services-wrapper {
	position: relative;
	line-height: 0;
	text-align: center;

	
}



.home-services-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: $gutter;
	text-align: left;
	color: white;
	margin: 0;
	z-index: 1000;
	font-weight: 600;

}


@mixin home-services-cover {
	@extend .cover;
	bottom: -1px; //hacky
		background-color: rgba(shade($brand-grey, 50%), .7);
		@include fade;
		&:hover {
			background-color: rgba(shade($brand-grey, 50%), 0);
		}
}


.home-services-cover-1 {
	@include home-services-cover;
}

.home-services-cover-2 {
	@include home-services-cover;
}


.home-services-cover-3 {
	@include home-services-cover;
}


.home-services-cover-4 {
	@include home-services-cover;
}

