.home-news-stories {
	margin-bottom: $gutter;
}

.flexslider {
	position: relative;
}

.flex-control-nav {
	position: absolute;
	top: $gutter;
	left: 50%;
	margin-left: -35px !important; /* override default plugin stuff */
}

.flex-control-nav li {
	display: inline;
	float: left;
	text-align: center;
}

.flex-direction-nav a.flex-prev:before{
	content: url(../images/left-arrow.png); 
}

.flex-direction-nav a.flex-next:before{
	content: url(../images/right-arrow.png);
}

.home-stories-slider-thumbs li {
	position: relative;
	overflow: auto;
}

.home-stories-title {
	text-align: center;
	line-height: 1.1;
	position: absolute;
	padding: $gutter;
	bottom: 0;
	color: white;
	background: black;
	background: rgba(black, .7);
}


.home-stories {
	@include breakpoint(baby-bear){
		width: 50%;
		padding-right: $gutter/2;
		float: left;
	}
	
	@include breakpoint(mama-bear){
		width: 100%;
		margin-right: 0;
	}
}

