.home-hero {
	line-height: 0; /* fixes the space at the bottom */
 }

 .home-hero-img {
	 width: 100%; /* images are actually just slightly too small for some of the views; this stretches them to make them fit */
 }

 .home-hero-wrapper{
	 position: relative; /* for the absolute positioned cover */
 }
 
.home-sub-hero-wrapper{
	 position: relative;
	 float: left;
	 width: 50%;
	 
	 /* all this gutter/2 stuff is just a way to keep the titles from looking like a unibrow across the gutter */
	 &:last-child {
		padding-left: $gutter/2;
		.home-hero-cover {
			left: $gutter/2;
		}
	}
	&:first-child {
		padding-right: $gutter/2;
		.home-hero-cover {
			right: $gutter/2;
		}
	}
	 @include breakpoint(mama-bear){
		 /* height of main hero image is 331px at this size. These each are that - 15px (for the gutter) divided by two
		 * It's just a small crop, so not a big deal, and not worth the overhead of doing picturefill */
		 height: 158px;
		 overflow: hidden;
		 width: auto;
		 padding: 0 !important; /* hack, fix this */		 
 	}
	@include breakpoint(papa-bear){
		height: auto;
	}
}

 .home-hero-cover {
	@extend .cover;
	 bottom: -1px; /* sort of hacky, but covers the weird pixel at the bottom. And if it goes over in some browsers, it's just white on white background and thus invisible */
	
	 overflow: hidden;
	 &:hover {
		 background: rgba($brand-grey, .85);
		 @include fade;	 
	 }
	 @include breakpoint (mama-bear){
	  right: $gutter;
	 }
 }
 
 .home-sub-hero-wrapper .home-hero-cover {
	 @include breakpoint(mama-bear){
		 right: 0 !important; /* undo hack from above */
	 	left: 0 !important;
	}
 }
 

 .home-hero-cover p {
	 padding: 30px;
	 position: absolute;
	 opacity: 0;
	 left: 0;
	 bottom: 90px;
	 color: white; /* for a little more contrast */
	 line-height: 1.25;
	 @include adjust-font-size-to($mediumlarge);
 }
 
 .home-hero-cover:hover {
	 cursor: pointer;
	 p {
		 opacity: 1;
		 transition: opacity 0.3s .1s ease;
	 }
 }

 .home-hero-header,
 .home-sub-hero-header {
	 background-color: rgba($brand-purple, .7);
	 display: inline;
	 color: white;
	 margin: 0;
	 position: absolute;	
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 text-align: center;
	 @include breakpoint(mama-bear){
		 bottom: 40px;
		 background-color: $brand-purple;
		 width: auto;
 	}
 }
 
 .home-hero-header {
	  @include adjust-font-size-to($xl);
	  line-height: 1;
	  padding: 10px;
	  @include breakpoint(mama-bear){
		  left: 40px;
  	}
 }
 
 .home-sub-hero-header {
	@include adjust-font-size-to($medium);
	padding: $gutter/2;
	 line-height: 1.2;
	 @extend .cover;
	 @include breakpoint(mama-bear) {
		 padding: 6px;
		 left: $gutter;
		 bottom: $gutter;
		 right: auto;
		 top: auto;
	 }
 }
 
 .home-sub-hero-wrapper:last-child {
	 @include breakpoint(mama-bear){
	 margin-top: $gutter;
 }
 }
 


 .home-sub-hero {
	 margin-top: $gutter;
 	@include breakpoint(baby-bear){
 		float: left;
 		display: inline;
 		padding-right: 0; /* override the column padding */
		width: 100%; /* fix a safari bug */
 	}
	@include breakpoint(mama-bear){
		margin-top: 0;
		width: $col9;
	}
 }

.home-sub-hero-wrapper img {
	float: left;
	@include breakpoint(baby-bear){
		width: 100%; /* safari bug */
	}
	@include breakpoint(mama-bear){
		width: auto;
	}
}

.home-sub-hero-wrapper .home-hero-cover p{
	
}

.stripe-decor {
	@include breakpoint(mama-bear){
		 height: 331px; /* height of the hero image */
		background-image: url("../images/green-stripes.png");
	}
	@include breakpoint(papa-bear){
		 height: 437px; 
	}
}