/* Sub-nav styles */
.home-grey-bar {
	background-color: $brand-grey;
}

.sub-nav {
	display: table;
	width: 100%;
}

.sub-nav li {
	display: table-cell;
	text-align: center;
}

.sub-nav li a {
	display: block;
	font-family: $heading-font;
	padding: .7rem;
	@include color-link(#fff, no-border);
	text-transform: uppercase;
	@include breakpoint(baby-bear) {
		@include adjust-font-size-to($mediumlarge);
		line-height: 2rem; /* vertically center this text compared to the button */
	}
}

.sub-nav li .current {
	/* specificity to override above style */
	background-color: $site-grey;
	@include color-link($text-color, no-border); 

}



.apply-button {
	background-color: $brand-green;
	display: block;
	padding: .7rem;
	font-family: $heading-font;
	font-weight: bold;
	margin-bottom: $gutter;
	text-align: center;
	text-transform: uppercase;
	@include adjust-font-size-to($mediumlarge);
	line-height: 2rem; /* match secondary nav */
	@include color-link(#fff, no-border);
	&:hover,
	&:focus {
		background-color: $darker-green;
		@include fade;
	}
	@include breakpoint(mama-bear){
		margin-bottom: 0; /* cancel the gutter used on smaller sizes */
	}
}

.enroll-wrapper {
	@include breakpoint(mama-bear){
		float: right;
		padding-right: 0 !important;
	}
}

.grey-bar-wrapper {
	@include breakpoint(mama-bear){
		float: left;
		padding-right: $gutter !important; /* technically this is last of child, but with the floats it's not */
	}
}

.shame-div {
	display: none;
	@include breakpoint(mama-bear){
		display: block;
		float: right;
		height: 1rem;
	}
}