.home-bottom-nav {
	background-color: $site-grey;
	margin-top: 4*$gutter;
	margin-bottom: -$gutter;
	padding: $gutter;
	@include breakpoint(mama-bear){
		padding: 2*$gutter 0;
	}
}

.home-bottom-nav-header {
	margin: 0;
}

.home-bottom-nav-list {
	@extend .unstyled;
	margin: 7px 0 21px 0;
	a {
		@include link-colors(tint(black, 20%), tint(black, 50%));
	}
}

.sub-footer-button {
	width: 100%;
	display: block;
	
	@include adjust-font-size-to($mediumlarge);
	padding-bottom: $gutter;

	i {
		padding-right: 7px;
		&:before {
			vertical-align: bottom;
			padding-left: $gutter;
		}
	}	
		a {
			@include link-colors($brand-purple, $brand-purple);
		}
}