.home-stories-wrapper {
	background: $site-grey;
	padding: $gutter;
	margin-top: $gutter;
	@include breakpoint(mama-bear){
	padding: 2*$gutter 0;
	}
}

.home-stories-row {
	margin-top: $gutter; 
	h6 {
		text-transform: none;
	}
}


.home-stories-row .col6 {
	//overriding some of the default column behavior for baby bear screen size
	@include breakpoint(baby-bear){
		width: ($baby-bear - 30px) / 3;
		padding-right: 0;
		margin-right: $gutter;
		float: left;
		&:nth-child(3) {
			margin-right: 0;
		}
		&:nth-child(4){
			width: 100%;
		}
	}
	@include breakpoint(mama-bear){
		width: $col6;
		margin-right: 0;
		padding-right: $gutter;
		&:nth-child(3) {
			padding-right: $gutter;
		}
		&:nth-child(4){
			width: $col6;
			padding-right: 0;
		}
	}
	
	
}

.more-news-header {
	@include breakpoint(mama-bear){
	margin-left: 25px; /* same as margin for lists */
}
}

.home-news-list {
	@include pretty-bullets("../images/bullet-arrow.png"); /* should probably make this a site-wide thing */
	
	li {
		margin-bottom: 1em;
	}
	@include breakpoint(mama-bear){
		padding-left: 25px;	
	}
}


.all-news-link {
	float: right;
	i:before {
		margin: 0;
		vertical-align: bottom;
	}
	
}