/* 2.4 Alerts */

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  font-size: 17px;
}

.alert .close {
	position: absolute;
	right: 0;
	top: 0;
	background: transparent;
}


.alert-error {
  color: #fff;
  background-color: #da4f49;
  border-color: #eed3d7;
}


.alert-blue {
  color: #fff;
  background-color: #3a87ad;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}