/*
*********
COLORS
*********
*/

$brand-purple: #502d7f;
$brand-green: #bed600;
$brand-alt-purple: #8d6cd1;
$brand-alt-green: #719500;
$brand-grey: #939598;
$darker-green: shade($brand-green, 10%);
$site-grey: #ede9e9;

/* 
*********
GUTTER WIDTH
*********
*/

$gutter: 15px;

/* 
************
breakpoints 
************
*/

$baby-bear: 768px;
$mama-bear: 992px;
$papa-bear: 1300px;

/*
******
Breakpoint mixin
use this like so: @include breakpoint(papa-bear) { whatevs; } 
*******
*/

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: $papa-bear) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: $mama-bear) { @content; }
  }
  @else if $point == baby-bear {
    @media (min-width: $baby-bear)  { @content; }
  }
}

/* 
*********
Fade animation
so we can keep these consistent throughout
*********
*/

@mixin fade {
	@include transition(all 0.3s ease-in-out);
}



/* triangles. used on program pages */



@mixin program-triangle($size, $color, $bg-color) {
	position: absolute;
	top: -$size;
	left: 50%;
	margin-left: -$size; /* horizontal center */
	width: 0; 
	height: 0; 
	border-left: $size solid $bg-color;
	border-right: $size solid $bg-color;
	border-top: $size solid $color;
	&:before{
		content:'';
		display: inline-block;
		position: absolute;
		width: 100000px; /* run off the edge of the page */
		height: $size;
		background: $bg-color;
		top: -$size;
		right: $size;
	}
	&:after{
		content:'';
		display: inline-block;
		position: absolute;
		width: 100000px; /* run off the edge of the page */
		height: $size;
		background: $bg-color;
		top: -$size;
		left: $size;
	}	
}


