.site-footer {
	background-color: $brand-green;
	margin-top: $gutter;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
}

.footer-links {
	background-color: $darker-green;
	margin-bottom: 15px;
}

.footer-links a {
	display: block; 
	padding: 5px 0;
	@include color-link($text-color, no-border);
}

.footer-address {
	padding: 15px 0;
	@include breakpoint(mama-bear) {
		float: left;
		padding: 20px 80px;
	}
	
}

.footer-top-row {
	@include breakpoint(mama-bear){
		display: inline-block;
	}
}

.footer-seal {
	@include breakpoint(mama-bear) {
		float: left;
	}
}

.footer-address-first-line {
	@include breakpoint(mama-bear) {
		font-weight: bold;
	}
}

.footer-bottom-row {
	@include breakpoint(mama-bear) {
		padding-top: 35px; /* same as the top/bottom padding for the footer as a whole */
	}
}


.footer-links {
	@include breakpoint(mama-bear) {
		padding: 6px 20px; 
		@include adjust-font-size-to($small);
	}
}

.footer-links li {
	@include breakpoint(mama-bear){
		display: inline;
	}
}

.footer-links a {
	@include breakpoint(mama-bear) {
		display: inline; /* undo the block style from smaller screens */
		padding: 0 8px;
		border-right: solid 1px white;
	}
}

.footer-links li:last-child a {
	@include breakpoint(mama-bear) {
		border-right: none;
	}
}

.footer-grant-icons {
	@include breakpoint(mama-bear) {
		padding-top: 10px;
	}
}

.footer-grant-icons li {
	@include breakpoint(mama-bear) {
		display: inline;
		font-weight: bold;
		padding-right: 35px;
	}
}


.footer-grant-icons li a {
	@include color-link($brand-purple, no-border);
}
