.site-footer {
	background-color: $brand-green;
	margin-top: $gutter;
	padding: $gutter*3 0;
	text-align: center;
	text-transform: uppercase;
	line-height: 0; // have to set individual line-heights to avoid some funky spacing
}

.footer-links {
	@extend .unstyled;
	background-color: $darker-green;
	margin-bottom: 15px !important; /* yes, I know */
	@include breakpoint(mama-bear) {
		padding: 6px 20px; 
		@include adjust-font-size-to($small);
	}
}

.footer-links a {
	display: block; 
	padding: 5px 0;
	@include color-link($text-color, no-border);
}

.footer-address {
	padding: 15px 0;
	line-height: 1.5;
	@include breakpoint(mama-bear) {
		float: left;
		padding: 45px 80px 0 80px;
	}
}

.footer-top-row {
	@include breakpoint(mama-bear){
		display: inline-block;
		padding-bottom: 3*$gutter;
	}
}

.footer-seal {
	@include breakpoint(mama-bear) {
		float: left;
	}
}

.footer-address-first-line {
	@include breakpoint(mama-bear) {
		font-weight: bold;
	}
}



.footer-links li {
	@include breakpoint(mama-bear){
		display: inline;
	}
}

.footer-links a {
	@include breakpoint(mama-bear) {
		display: inline; /* undo the block style from smaller screens */
		padding: 0 8px;
		border-right: solid 1px white;
	}
}

.footer-links li:last-child a {
	@include breakpoint(mama-bear) {
		border-right: none;
	}
}

.footer-grant-icons {
	@extend .unstyled;
	@include breakpoint(mama-bear) {
		padding-top: 10px;
	}
}

.footer-grant-icons li {
	@include breakpoint(mama-bear) {
		display: inline;
		font-weight: bold;
		padding-right: 35px;
	}
}

.footer-grant-icons li a {
	@include color-link($brand-purple, no-border);
}