label {
	display: block;
	@include adjust-font-size-to($small);
}

option:hover {
	background-color: $brand-green;
}

input {
	border: 2px solid transparent;
	padding: .3rem;
	margin-bottom: .7rem;
	outline: none;
	@include adjust-font-size-to($base);
	&:focus {
		border: 2px solid $brand-green;
	}
}

button {
	background-color: $brand-green;
	border: none;
	color: $brand-purple;
	font-weight: bold;
	padding: .75rem;
	text-transform: uppercase;
	&:hover {
		@include fade;
		background-color: $darker-green;
		cursor: pointer;
	}	
}