label {
	display: block;
	@include adjust-font-size-to($small);
}

option:hover {
	background-color: $brand-green;
}

input {
	border: 2px solid $brand-purple;
	padding: 3px;
	margin-bottom: 7px;
	outline: none;
	@include adjust-font-size-to($base);
	&:focus {
		border: 2px solid $brand-green;
	}
}

