$col1: 4.1666666%;
$col2: 4.1666666%*2;
$col3: 4.1666666%*3;
$col4: 4.1666666%*4;
$col5: 4.1666666%*5;
$col6: 4.1666666%*6;
$col7: 4.1666666%*7;
$col8: 4.1666666%*8;
$col9: 4.1666666%*9;
$col10: 4.1666666%*10;
$col11: 4.1666666%*11;
$col12: 4.1666666%*12;
$col13: 4.1666666%*13;
$col14: 4.1666666%*14;
$col15: 4.1666666%*15;
$col16: 4.1666666%*16;
$col17: 4.1666666%*17;
$col18: 4.1666666%*18;
$col19: 4.1666666%*19;
$col20: 4.1666666%*20;
$col21: 4.1666666%*21;
$col22: 4.1666666%*22;
$col23: 4.1666666%*23;
$col24: 4.1666666%*24;



.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col'] {
	width: 100%;
	float: left;
	@include breakpoint(mama-bear) {
		margin-top: 0;
		padding-right: $gutter;
	}
}

[class*='col']:last-of-type {
	@include breakpoint(mama-bear) {
  padding-right: 0;
}
}

@include breakpoint(mama-bear) {

.col1 {
	width: $col1;
}

.col2 {
	width: $col2;
}

.col3 {
	width: $col3;
}

.col4 {
	width: $col4;
}

.col5 {
	width: $col5;
}

.col6 {
	width: $col6;
}

.col7 {
	width: $col7;
}

.col8 {
	width: $col8;
}

.col9 {
	width: $col9;
}

.col10 {
	width: $col10;
}

.col11 {
	width: $col11;
}

.col12 {
	width: $col12;
}
.col13 {
	width: $col13;
}

.col14 {
	width: $col14;
}

.col15 {
	width: $col15;
}

.col16 {
	width: $col16;
}

.col17 {
	width: $col17;
}

.col18 {
	width: $col18;
}

.col19 {
	width: $col19;
}

.col20 {
	width: $col20;
}

.col21 {
	width: $col21;
}

.col22 {
	width: $col22;
}

.col23 {
	width: $col23;
}

.col24 {
	width: $col24;
}


}



