@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 1.6em;
font-style: normal;
// margin-left: 20px;
display: inline-block; // fixes bug in Safari
}.flaticon-arrow241:before {
	content: "\e000";
}
.flaticon-arrow410:before {
	content: "\e001";
}
.flaticon-arrowhead2:before {
	content: "\e002";
}
.flaticon-boxed2:before {
	content: "\e003";
}
.flaticon-caret2:before {
	content: "\e004";
}
.flaticon-chevron15:before {
	content: "\e005";
}
.flaticon-dark37:before {
	content: "\e006";
}
.flaticon-date3:before {
	content: "\e007";
}
.flaticon-dollar24:before {
	content: "\e008";
}
.flaticon-email19:before {
	content: "\e009";
}
.flaticon-email20:before {
	content: "\e00a";
}
.flaticon-facebook43:before {
	content: "\e00b";
}
.flaticon-fast7:before {
	content: "\e00c";
}
.flaticon-help8:before {
	content: "\e00d";
}
.flaticon-information29:before {
	content: "\e00e";
}
.flaticon-instagram12:before {
	content: "\e00f";
}
.flaticon-light32:before {
	content: "\e010";
}
.flaticon-light33:before {
	content: "\e011";
}
.flaticon-light34:before {
	content: "\e012";
}
.flaticon-map16:before {
	content: "\e013";
}
.flaticon-map18:before {
	content: "\e014";
}
.flaticon-maps3:before {
	content: "\e015";
}
.flaticon-portfolio5:before {
	content: "\e016";
}
.flaticon-round21:before {
	content: "\e017";
}
.flaticon-twitter35:before {
	content: "\e018";
}
.flaticon-two92:before {
	content: "\e019";
}
