.container,
.home-images-container
 {
	margin: 0 auto;
	@include breakpoint(baby-bear) {
		width: $baby-bear - $search-width; 
	}
	@include breakpoint(mama-bear) {
		width: $mama-bear - $search-width; 
	}
	@include breakpoint(papa-bear) {
		width: $papa-bear - $search-width; 
	}
}




