.top-image-caption {
	margin-bottom: 25px;
	font-style: italic;
}	

.blog-banner {
	margin-left: -60px; 
	max-width: 112%;
}

.blog-section {
	border-bottom: solid 1px #f5f5f5;
	margin-bottom: 15px;
}

.blog-header {
	margin: 0;
}

.blog-date {
	color: #939598; 
	margin-bottom: 4px;
}

.blog-row {
	margin-bottom: 40px;
}