
/* fonts */
$heading-font: "futura-pt-n5","futura-pt",sans-serif; /* the first font is an IE8 fallback */
$text-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$text-color: #565655;


/* typographic scale based on 1:1.2 ratio, with base font size of 14px. SASS converts all these to relative units. */
$small: 11.7px;
$base: 14px;
$medium: 16.8px;
$mediumlarge: 20.2px;
$large: 24.2px;
$xl: 29px;
$xxl: 34.8px;
$largest: 41.8px;
$superbig: 104px;  

$font-unit: 1rem;
$base-font-size: 14px;
$base-line-height: 21px;
@include establish-baseline;



/* this is all the common properties for the headings. Size changes for each one */
@mixin heading-size ($h-size) {
	@include adjust-font-size-to($h-size);
	margin: 0 0 rhythm(1, $h-size) 0; /* 1 line below */
	font-family: $heading-font;
	line-height: 1.2;
	font-weight: 200;
}

h1 {
	@include heading-size($largest);
}

h2 {
	@include heading-size($xxl);
}

h3 {
	@include heading-size($xl);
}

h4 {
	@include heading-size($large);
}

h5 {
	@include heading-size($mediumlarge);
	text-transform: uppercase;
	color: $brand-purple;
}

h6 {
	@include heading-size($medium);
	text-transform: uppercase;
	color: $brand-purple;
	font-weight: 400; // gets too thin at this font size
}

body {
	@include adjust-font-size-to($base);
	font-family: $text-font;
	color: $text-color;
}

p,
address,
.btn {
	margin: 14px 0;
}

.small-text {
	@include adjust-font-size-to($small);
	line-height: 1.2;
}

/* used in headings on the apply page, for example */
small {
	display: block;
	font-size: .8em;
}
