.header-links-container {
	@include breakpoint(mama-bear){
		position: relative;
	}
}

.header-links {
	display: none; 
	position: absolute;
	top: 100%; 
	left: 0;
	width: 30%;
	height: 400%;
	background-color: $darker-green;
	background-color: rgba($darker-green, .95);
	z-index: 10; /* so it shows above the images on small views */
	@include breakpoint(mama-bear){
		display: block;
		position: absolute;
		height: auto;
		width: auto;
		left: auto;
		top: auto;
		right: 0;
		bottom: 100%;
		background-color: $darker-green;
	}
}

.header-links li {
	padding: 0 10px 0 10px;
	margin: 10px 0;
	@include breakpoint(mama-bear){
		display: inline;
		float: left;
		margin: 0;
		padding: 0;
	}
}

.header-links a {
	background-color: white;
	display: block;
	padding: 5px;
	@include breakpoint(mama-bear){
		background-color: transparent;
		color: #fff;
		float: left;
		padding: 6px 15px;
		font-family: $heading-font;
		font-weight: 200;
		@include adjust-font-size-to($medium);
		&:hover,
		&:focus {
			border-bottom: none;
		}
	}
	@include breakpoint(papa-bear){
		@include adjust-font-size-to($mediumlarge);
	}
}