.site-nav {
	/* display: none; dev will show with javascript. */
	position: absolute;
	top: 100%; 
	background-color: rgba($brand-purple, .95);
	width: 70%;
	height: 400%; /* same height as headerlinks */
	right: 0;
	z-index: 10; /* so it shows above the carousel on mobile */
	@include breakpoint(mama-bear){
		display: block;
		height: auto;
		top: auto;
		width: auto;
		left: auto;
		position: relative;
		text-align: center;
		line-height: 0; /* probably sort of a hack */
	}
}

.site-nav-bg {
	@include breakpoint(mama-bear){
		background-color: $darker-green;
		position: relative; /* we're going to absolute position the search container relative to this */
	}
}

.site-nav-container {
	
	@include breakpoint(mama-bear){
	padding: 0; /* override the default gutter */
	position: relative; /* the headerlinks are positioned relative to this */
	}
}

.site-nav > ul{
	@include breakpoint(mama-bear){
		display: inline-block;
		text-align: center;
	}
}

.site-nav > ul > li {
	display: inline-block;
	width: 100%;
	padding: .75rem 0 .75rem 1rem;
	border-bottom: solid 1px white;
	@include breakpoint(mama-bear){
		width: auto;
		padding: 0;
		border-bottom: none;
	}
}

.site-nav > ul > li > a {
	text-transform: uppercase;
	@include color-link($brand-green, no-border);
	@include breakpoint(mama-bear){
		display: inline-block;
		color: $brand-green;
		padding: 4rem 3.8rem;
		text-align: center;
		font-family: $heading-font;
		font-weight: 200;
		@include adjust-font-size-to($mediumlarge);
		
	}
	@include breakpoint(papa-bear){
		@include adjust-font-size-to($xl);
	}
}

.site-nav > ul > li > a:hover {
	@include stripes($brand-purple, tint($brand-purple, 10%)); 
}