.nav-dropdown {
	display: none; /* show with javascript */ 
	position: absolute;
	left: 100%; /* set it off the right side of the screen for animation purposes */
	top: 0;
	background-color: #fff;
	width: 143%; /* this is relative to the size of the main nav, which is set at 100%. 100/70= 143% */
	border: solid 8px $brand-purple;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
	z-index: 1000;
	@include breakpoint(mama-bear){
		display: none; /* shown with hover */
		left: 0;
		top: 100%;
		width: 100%;
		border-top: none;
		padding: 2rem;
	}
}

.site-nav > ul > li:hover .nav-dropdown {
	@include breakpoint(mama-bear){
	display: block;
}
}


.nav-header {
	
	margin-top: 2rem;
	@include breakpoint(mama-bear){
		margin-top: 0;
	}
}

.nav-section {
	text-align: left;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.main-nav-links li a {
	display: block;
	padding: .5rem 0;
	@include adjust-font-size-to($medium);
}

.program-spotlight-header {
	font-style: italic;
	@include adjust-font-size-to($small);
}

.program-spotlight-text {
	
	@include adjust-font-size-to($base);
	line-height: 1.2;
}

.nav-back {
	margin: 1.5rem;
	background: $darker-green;
	padding: 1rem;
	color: white;
	@include adjust-font-size-to($medium);
	@include breakpoint(mama-bear){
		display: none;
	}
}