.site-nav {
	display: none; /* will show with javascript. */
	position: absolute;
	top: 100%;
	background-color: $brand-purple; 
	background-color: rgba($brand-purple, .95);
	width: 70%;
	height: 400%; /* same height as headerlinks */
	right: 0;
	z-index: 10; /* so it shows above the carousel on mobile. This is also used as an identifier in js to see if mobile menu should be activated */
	@include breakpoint(mama-bear){
		display: block;
		z-index: 11; /* used as identifier in js to see if mobile menu should be deactivated */
		height: auto;
		top: auto;
		width: auto;
		left: auto;
		position: relative;
		text-align: center;
		line-height: 0; /* probably sort of a hack */
	}
}

.site-nav-bg {
	@include breakpoint(mama-bear){
		background-color: $darker-green;
		position: relative; /* we're going to absolute position the search container relative to this */
	}
}

.site-nav-container {
	@include breakpoint(mama-bear){
	padding: 0; /* override the default gutter */
	position: relative; /* the headerlinks are positioned relative to this */
	}
}

.site-nav > ul{
	@extend .unstyled;
	@include breakpoint(mama-bear){
		display: inline-block;
		text-align: center;
	}
}

.site-nav > ul > li {
	display: inline-block;
	width: 100%;
	padding: 8px 0 8px 10px;
	border-bottom: solid 1px white;
	&:after{
		content:url('images/arrow.png');
		float: right;
		padding-right: 15px;
	}
	
	@include breakpoint(mama-bear){
		width: auto;
		padding: 0;
		border-bottom: none;
		&:after {
			content: none;
			padding-right: 0;
		}
	}
}


.nav-header {
	text-transform: uppercase;
}

.site-nav > ul > li > a {
	text-transform: uppercase;
	@include color-link($brand-green, no-border);
	@include breakpoint(mama-bear){
		display: inline-block;
		color: $brand-green;
		padding: 50px;
		text-align: center;
		font-family: $heading-font;
		font-weight: 200;
		@include adjust-font-size-to($mediumlarge);
		
	}
	@include breakpoint(papa-bear){
		@include adjust-font-size-to($xl);
	}
}

.site-nav > ul > li > a:hover {
	background-image: url("images/grey-stripes.png"); 
}