
.search-button {
	height: 30px; /* make this same height as input */
	line-height: 30px;
	padding: 0 8px; /* line-height does the vertical padding */
	float: left;
	@include breakpoint(mama-bear){
		background-color: $brand-purple;
		color: white;
		display: none; 
		&:hover {
			background-color: tint($brand-purple, 10);
		}
	}
}

.search-input {
	margin-bottom: 0; /* clear out input style */
	height: 30px;
	width: 16em; /* enough space for most searches */
	float: left;
	@include breakpoint(mama-bear){
		display: none; 
		float: left;
		vertical-align: middle;
	
		margin-right: $gutter;
		&:focus {
			border-color: $brand-purple;
		}
}
}


.search-container {
	display: none; /* will show with js */
	z-index: 1000;
	position: absolute;
	top: 400% + 100%; /* 100% plus the height of the nav */
	left: 0;
	padding: 5px;
	background-color: rgba($brand-grey, .95);
	width: 100%;
	@include breakpoint(mama-bear){
	/* spread the green background across the whole thing */
		background-color: $darker-green;
		display: block;
		top: 0;
		bottom: 0;
		padding: 0;
		left: 100%;
		width: $search-width;
	}
}


.search-form {
	text-align: center; /* cneter the search-wrapper */
}

.search-form-open {
	width: 0;
	background-color: $darker-green;
	background-image: url(../images/grey-stripes.png);
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	right: 100%;
	height: 100%;
	z-index: 100; /* so it shows above the nav */
}


.search-form-open .search-button {
	display: block;
}

.search-form-open .search-input {
	display: block;
}



/* ghosting technique to vertically align the search bar */
.search-form-open:before{
	content:'';
	display:inline-block;
	height: 100%;
	vertical-align: middle;
}


.search-form-wrapper {
	vertical-align: middle;
	display: inline-block;
}



.search-icon {
	display: none;
	@include breakpoint(mama-bear){
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -16px; /* half the height of the icon for vertical centering */
		left: 50%;
		margin-left: -15px; /* half the width of the icon for horizontal centering */
	}
}